name: Get Data

on:
  schedule:
    - cron: "*/30 * * * *"
  workflow_dispatch:

jobs:
  generate-data:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install dependencies
        run: npm install

      - name: Generate Data
        run: node index.js
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID_1: ${{ secrets.TELEGRAM_CHAT_ID_1 }}
          TELEGRAM_CHAT_ID_2: ${{ secrets.TELEGRAM_CHAT_ID_2 }}

      - name: Commit and Push changes
        run: |
          git config --local user.name actions-user
          git config --local user.email "actions@github.com"
          git add .
          if [[ `git status --porcelain` ]]; then
            echo "OK: Changes detected."
            git commit -m "Update data: $(date)"
            git push origin main
          else
            echo "No changes detected."
          fi
